@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@900&family=Wallpoet&display=swap');

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

main {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    display: flex;
    flex-direction: column;
}

main video {
    position: absolute;
    width: auto;
    height: auto;
    min-width: 100%;
    min-height: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: -1;
}

header,
footer {
    display: flex;
    justify-content: space-between;
    padding: 1rem;
}

ul {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
    gap: 1rem;
}

a {
    text-decoration: none;
    color: #fff;
    font-size: 1.25rem;
    font-family: 'Wallpoet', cursive;
    position: relative;
}

a::after {
    content: "";
    width: 0;
    height: 2px;
    position: absolute;
    bottom: -3px;
    left: 50%;
    background: #fff;
    transform: translate(-50%);
    transition: width 0.3s ease-in-out;
}

a:hover::after {
    width: 100%;
}

.content {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    border: 5px solid rgba(255, 255, 255, 0.6);
}

.content h1 {
    color: transparent;
    text-transform: uppercase;
    text-align: center;
    font-size: 8rem;
    font-family: 'Poppins', sans-serif;
    text-shadow: 4px 4px 2px rgba(0, 0, 0, 0.7);
    -webkit-text-stroke: 1px #fff;
    background-image: linear-gradient(to left bottom, #6a8ebc, #5882bc, #4877bc, #386bbb, #295eb9, #1f58b2, #1351ab, #004ba4, #004996, #004787, #004478, #004069);
    background-repeat: no-repeat;
    -webkit-background-clip: text;
    background-position: -950px 0;
    animation: change-color 2s ease-in-out infinite;
}

@keyframes change-color {
    100% {
        background-position: 0 0;
    }
}

input[type="text"] {
    width: 15%;
    height: 3rem;
    background-color: rgba(255, 255, 255, 0.8);
    outline: none;
    border-color: transparent;
    border-radius: 2.5rem;
    font-size: 1rem;
    font-weight: 400;
    font-family: 'Wallpoet', cursive;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    padding-left: 0.5rem;
    margin: 1rem auto;
    transition: all 1s ease-in-out;
}

input[type="text"]:focus {
    width: 35%;
    background-color: transparent;
    color: #fff;
    border: 1px solid #000;
}

input[type="text"]::placeholder {
    color: #000;
    font-size: 0.75rem;
    font-weight: 500;
}

input[type="text"]:focus::placeholder {
    color: #fff;
    font-size: 1rem;
}

button {
    width: 7%;
    height: 3rem;
    outline: none;
    border-color: transparent;
    border-radius: 1rem;
    text-transform: uppercase;
    font-size: 1.15rem;
    font-weight: 500;
    font-family: 'Wallpoet', cursive;
    color: #ddd;
    background-color: #004996;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.8);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
}

button:hover {
    background-color: rgba(56, 107, 187, 0.8);
    color: #fff;
    transform: scale(1.0015);
}

@media (max-width: 1690px) {
    button {
        font-size: 1rem;
    }
}

@media (max-width: 1510px) {
    button {
        font-size: 0.875rem;
    }
}

@media (max-width: 1320px) {
    input[type="text"] {
        width: 20%;
    }

    button {
        font-size: 0.8rem;
    }
}

@media (max-width: 1205px) {
    .content h1 {
        font-size: 7rem;
    }

    input[type="text"] {
        width: 20%;
    }

    button {
        font-size: 0.65rem;
    }
}

@media (max-width: 1060px) {
    a {
        font-size: 1.15rem;
    }
    
    .content h1 {
        font-size: 6rem;
    }

    input[type="text"] {
        width: 20%;
    }

    input[type="text"]::placeholder {
        font-size: 0.65rem;
    }

    button {
        font-size: 0.55rem;
    }
}

@media (max-width: 850px) {
    a {
        font-size: 1rem;
    }

    .content h1 {
        font-size: 5rem;
    }

    input[type="text"] {
        width: 25%;
    }

    input[type="text"]:focus {
        width: 40%;
    } 

    input[type="text"]::placeholder {
        font-size: 0.65rem;
    }

    button {
        width: 10%;
        height: 2.5rem;
        font-size: 0.55rem;
    }
}

@media (max-width: 650px) {
    a {
        font-size: 0.85rem;
    }

    .content h1 {
        font-size: 4rem;
    }

    input[type="text"] {
        width: 30%;
        height: 2.5rem;
    }

    input[type="text"]:focus {
        width: 50%;
    } 

    input[type="text"]::placeholder {
        font-size: 0.65rem;
    }

    button {
        width: 15%;
        height: 2rem;
        font-size: 0.55rem;
    }
}

@media (max-width: 540px) {
    a {
        font-size: 0.7rem;
    }

    .content h1 {
        font-size: 3rem;
    }

    input[type="text"] {
        width: 35%;
        height: 2.5rem;
    }

    input[type="text"]:focus {
        width: 50%;
    } 

    input[type="text"]::placeholder {
        font-size: 0.65rem;
    }

    button {
        width: 15%;
        height: 2rem;
        font-size: 0.55rem;
    }
}

@media (max-width: 460px) and (min-width:360px) {
ul {
    gap: 0.4rem;
}

    a {
        font-size: 0.65rem;
    }

    .content h1 {
        font-size: 2.5rem;
    }

    input[type="text"] {
        width: 35%;
        height: 2rem;
    }

    input[type="text"]:focus {
        width: 55%;
    } 

    input[type="text"]::placeholder {
        font-size: 0.45rem;
    }

    input[type="text"]:focus::placeholder {
        font-size: 0.8rem;
    }

    button {
        width: 20%;
        height: 1.5rem;
        font-size: 0.55rem;
    }
}